<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="dashboard-sidebar" mode="side">
      <!-- aca nose porque no me dirige a la paginas-->
      <mat-nav-list>

        <a #inicioLink="routerLinkActive"
        routerLinkActive
        [activated]="inicioLink.isActive"
        routerlink="inicio" mat-list-item>Inicio</a>
        
        <a  #alumnosLink="routerLinkActive"
        routerLinkActive
        [activated]="alumnosLink.isActive" 
        routerlink="alumnos" mat-list-item>Alumnos</a>

        <a  #materiaLink="routerLinkActive"
        routerLinkActive
        [activated]="materiaLink.isActive" 
        routerlink="materia" mat-list-item>Materias</a>
        
        <a  #sesionLink="routerLinkActive"
        routerLinkActive
        [activated]="sesionLink.isActive"
        routerlink="" mat-list-item>Cerrar sesion</a>
        
      </mat-nav-list>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="warn">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
      </div>
  
   <!--<div class="p-5"><app-alumnos></app-alumnos></div>-->

   <router-outlet></router-outlet>
  </mat-drawer-container>